body {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    background-color: #081b29;
    color: #fff;
    margin: 0;
    padding: 0;
}

section {
    padding: 100px 0;
    min-height: 100vh;
}